@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

$primary-color: rgb(148, 131, 245);
$secondary-color:#f5535ccb;
$light-pink:#eccaf3;
$background-color:rgba(21,21,34, 0.05);
$light-purple:#e9636acb;
$Jura: 'Jura', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Jura', sans-serif;
}
