<section class="topbar"> <p><select id="selection">
  <span id="navbutton"><i class="fa-brands fa-get-pocket fa-lg"></i></span>
  <option value="option1">Kuba Clients</option>
  <option value="option2">Ola Clients</option>
  <option value="option3">Kasia Clients</option>
  <option value="option4">Benia Clients</option>
</select></p>
</section>

<section class="nav">
<!-- <button class="load-c"><i class="fa-brands fa-get-pocket fa-lg"></i> <span id="navbutton"></span></button> -->
<button class="load-c nav-button section-button active" data-section="section1" ><i class="fa-solid fa-user-group fa-sm"></i><a class="btn-text" data-section="section1"> Clients</a></button>
<button class ="nav-button section-button" data-section="section2"><i class="fa-solid fa-chart-line fa-lg"></i><span class="btn-text" data-section="section2"> Events Ratio</span></button>
<button class ="nav-button section-button" data-section="section3"><i class="fa-solid fa-skull-crossbones fa-lg"></i><span class="btn-text" data-section="section3"> High-Risk</span></button>

<p class="separator">|</p>
<button class ="nav-button"  onclick="window.open('https://support.freshdesk.com/en/support/home')"> <i class="fa-solid fa-headphones fa-lg"></i> <span class="btn-text"> Freshdesk</span></button>
<button class ="nav-button"> <i class="fa-sharp fa-solid fa-book fa-lg"></i> <span class="btn-text"> Confluence </span></button>
<button  class ="nav-button" onclick="window.open('https://doc.voluum.com/?lang=en')"><i class="fa-solid fa-file fa-lg"></i> <span class="btn-text"> Doc</span></button>
<button class ="nav-button" > <i class="fa-solid fa-network-wired fa-lg"></i> <span class="btn-text">Admin</span></button>
<div id="wrapper"><span><i class="fa-solid fa-magnifying-glass"></i></span><input id="search"></div>
</section>
