<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <section class="panel">
      <app-navbar></app-navbar>
<section class="main">
    <section class='main-tabs'>
<ul class="client-list main-tab" id="section1">
     <li id="clients-nav"><p>NAME</p><p>EMAIL</p><p class="MRR0 clientInfo">MRR</p><div> <p>ACTIONS</p></div></li>
</ul>
<ul id="section2" class="main-tab">asdasd</ul>
<ul id="section3" class="main-tab">asdasd</ul>
</section>
</section>

    </section>

</body>
</html>
